.table-view {
    -fx-base: #111827; 
    -fx-control-inner-background: white; 
    -fx-background-color: white; 
    -fx-table-cell-border-color: #E5E7EB; 
    -fx-table-header-border-color: #E5E7EB; 
    -fx-border-color: #E5E7EB; 
    -fx-font-size: 13px;
}

.table-view .placeholder .label {
    -fx-text-fill: #9CA3AF;
    -fx-font-size: 14px;
    -fx-font-weight: 500;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #DADADA;
    -fx-background-insets: 0 4 0 4;
    -fx-background-radius: 4;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #DADADA;
    -fx-background-insets: 4 0 4 0;
    -fx-background-radius: 4;
}